$primerColor : #5e81f4;
$primerHoverColor : #455eaa;
$backgroundPrimeriColor : #F6F6F6;
$textColor : #5e81f4;
$primerText : #1C1D21;
$ligthInfoColor : #5e81f419;
$secondaryTextColor: #8181a5;
$outline :#ececf2
 



