 
 
 
  
 

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 4rem 0;
  line-height: 10px;
  gap: 30px;
}

.center  h1{
  color: tomato;
}
.center  span {
  color: green;
}